<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @client.imie %>, It is a new letter from Newsletter.com</h1>
    <p>
       <strong>Title: </strong> <%= @letter.title %>.<br>
       <strong>Topic: </strong><%= @letter.topic %>.<br>
       <strong>Content: </strong><%= @letter.content %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>